@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root{
   --xs : 28.75em;
   --m : 61.25em;
   --l : 75em;
}

*{
   margin: 0;
   padding: 0;
   font-size: 62.5%;
   box-sizing: border-box;
   font-family: 'Nunito Sans';
   text-decoration: none;
   background-color: #121212;
   color: white;
   cursor: none;
}

/* 1200px / 16px = 75em */
@media (max-width:75em) {
   html{
      font-size: 60%;
   }
}

/* 980px / 16px = 61.25em */
@media (max-width:61.25em){
   html{
      font-size: 58%;
   }
}

/* 460px / 16px = 28.75em */
@media (max-width:28.75em){
   html{
      font-size: 55%;
   }
}


a {
   color: #fefefe;
}